table {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #889cd4;
}

table thead {
    background: rgb(208, 232, 255);
    color: #a3a3a3fe;
    font-size: 18px;
    font-weight: 600;
}

table thead tr th {
    padding: 20px 40px;
    text-align: left;
}

table thead .sorting {
    cursor: pointer;
    display: flex;
}

table thead .sorting p {
    margin-right: 10px;
}

tbody {
    padding: 20px 0;
}

tbody tr {
    text-align: left;
}

tbody tr td {
    font-weight: 800;
    font-size: 16px;
    padding: 10px 40px;
}
