nav {
  width: 100%;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ul li a {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

ul li a.active {
  color: #008B8B;
}

ul li a:hover {
  color: #6262ec;
}
